    body {
        background-image: url("https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg");

    }
        h1 {
            color: blue;
            font-family: "arial";
            font-size: 46px;
            padding: 10px;
            margin: 10px;
            background-color: black;
        }


        p {
            color: rgb(255, 0, 0);
            font-family: "arial";
            font-size: 16px;
            padding: 10px;
            margin: 10px;
            background-color: black;
        }


        .custom {
            color: orange;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 46px;
            padding: 10px;
            margin: 10px;
            background-color: black;

        }
        